@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #F2EFE7;
    --color-secundario: #006A71;
    --color-terciario: #48A6A7;
    --color-hover1: white;
    --color-hover2:#006A71; 
    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color:var(--color-secundario);   
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion{
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.titulo-destacado{
color: var(--color-terciario);
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__contenido__subtitulo{
    font-size: 1.625rem;
    font-family: var(--fuente-montserrat);
    font-weight: 800;
    font-variant: small-caps;
}

.lista__destacado{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
    font-weight: 700;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

     
.seccion {
      padding: 0px 0px 50px 50px;
      max-width: 1000px;
      margin: auto;    
    }

    .seccion h2 {
      text-align: center;
      color: var(--color-secundario);
      margin-bottom: 30px;
    }

    .contenedor-columnas {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 50px;
    }

    .columna {
      flex: 1;
      min-width: 280px;
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
    }


    .columna__h3 {
      color: var(--color-secundario);
      margin-bottom: 15px;
      font-size: 1.625rem;
      font-family: var(--fuente-montserrat);
      font-weight: 800;
      font-variant: small-caps;
    }

    .columna ul {
      padding-left: 0;
      list-style: none;
      text-align: left;
    }

    .columna ul li {
      margin-bottom: 20px;
    }

    .columna ul li i {
      color: var(--color-secundario);
      margin-right: 10px;
    }



.presentacion__enlaces__link{
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    border: 2px solid var(--color-terciario);    
    display: flex;
    justify-content: center;
    gap: 10px;   
}

.presentacion__enlaces__link:hover{
    background-color:var(--color-hover1);
    font-size: 1.625rem;
    border: 2px solid var(--color-hover2); 
}

.presentacion__imagen{
    width:50%;
}

.footer{
    background-color:var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){

    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;

    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido{
        width:auto;
    }
}
